.width-979{
    width: 979px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
    content: '';
    display: block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*pading margin*/
.padding-5{
    padding: 5px;
}
.padding-5-tb{
    padding-bottom: 5px;
    padding-top: 5px;
}
.padding-r-5{
    padding-right: 5px;
}
.padding-l-5{
    padding-left: 5px;
}
.padding-tb-5{
    padding-bottom: 5px;
    padding-top: 5px;
}
.padding-b-10{
    padding-bottom: 10px;
}
.padding-b-20{
    padding-bottom: 20px;
}
.padding-b-30{
    padding-bottom: 30px;
}
.padding-10{
    padding: 10px;
}
.padding-t-10{
    padding-top: 10px;
}
.padding-tb-10{
    padding-bottom: 10px;
    padding-top: 10px;
}
.padding-lr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.padding-t-20{
    padding-top: 20px;
}
.padding-tb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-lr-15{
    padding-left: 15px;
    padding-right: 15px;
}
.margin-t-5{
    margin-top: 5px;
}
.margin-r-5{
    margin-right: 5px;
}
.margin-b-10{
    margin-bottom: 10px;
}
.margin-t-15{
    margin-top: 15px;
}
.margin-tb-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.margin-t-20{
    margin-top: 20px;
}
.margin-t-30{
    margin-top: 30px;
}
.margin-r-40{
    margin-right: 40px;
}
.margin-l-40{
    margin-left: 40px;
}
/*display*/
.block{
    display: block;
}
.inline{
    display: inline;
}
.none{
    display: none;
}
.inline-block{
    display: inline-block;
}
/*font-size*/
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}

/*对齐方式*/
.center{
    text-align: center;
}
.middle{
    vertical-align: middle;
}

/*font-color*/
.clr-6c6c{
    color: #6c6c6c;
}
.clr-ca38{
    color: #ca3838;
}
.clr-white{
    color: #ffffff;
}
.clr-black{
    color: #000000;
}
.clr-d6d6{
    color:#d6d6d6;
}
.clr-ed1d{
    color: #ED1D25;
}
.clr-ff66{
    color: #ff6600;
}
/*背景颜色*/
.bg-ecec{
    background-color: #ececec;
}
/*字体系列*/
.YaHei{
    font-family: "Microsoft YaHei";
}
.bold{
    font-weight: bold;
}
.Arial{
    font-family: Arial, Helvetica, sans-serif;
}
/*光标变化*/
.pointer{
    cursor: pointer;
}


/*border*/
.border-b-solid{
    border-bottom: 1px solid #dcdcdc;
}
.border-t-solid{
    border-top: 1px solid #dcdcdc;
}
.border{
    border: 1px solid #dfdfdf;
}
.border-t{
    border-top: 1px solid #dcdcdc;
}
.border-b{
    border-bottom: 1px solid #dcdcdc;
}
.border-l{
    border-left: 1px solid #dcdcdc;
}
.border-r{
    border-right: 1px solid #dcdcdc;
}
.input-bor{
    border: #d7d7d7 1px solid;
    width: 242px;
}

/*input长度*/
.width-08{
    width: 80%;
}