.div-index-top{
    padding: 8px 30px 14px 5px;
    border-top: 1px  solid #c5c5c5;
    border-bottom: 1px  solid #c5c5c5;
}
.hot{
    float: left;
    width: 570px;
    vertical-align: middle;
}
.hot-a1{
    width: 34px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 3px;
    background-color: red;
    color: #ffffff;
}
.hot-a1:hover{
    cursor: default;
    color: #ffffff;
    text-decoration: none;
}
.hot a:hover:nth-child(2) {
    cursor: default;
    text-decoration: none;
}
.hot a:hover:nth-child(n+3){
    cursor: pointer;
    color: red;
    text-decoration: none;
}
.search{
    width: 280px;
    height: 23px;
}
.search input::-webkit-input-placeholder{
    color: #ca3838;
    font-family: "Microsoft YaHei";
}
.search input{
    border: #d7d7d7 1px solid;
    padding-left: 10px;
    width: 221px;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    border-right: none 0;
    float: left;
}
.search a{
    width: 28px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    background-color: red;
    color: #ffffff;
}
.pic{
    margin-top: 10px;
    background: #e0e0e0;
    padding-top: 20px;
    border-radius: 7px;
}
.pic .pic-div2{
    width: 940px;
    height: 42px;
    line-height: 42px;
}
.pic-div2 :hover:first-child{
 cursor: default;
 color: #ffffff;
 text-decoration: none;
}
.gbiao{
    padding-right: 20px;
}
.gbiao a{
    width: 7px;
    height: 7px;
    background-color: black;
    margin-left: 10px;
}

/*轮播*/
.lunbo .carousel-inner img{
    border: 0px;
    width: 945px;
    height: 342px;
}

/*商品展示区*/
.goods-show{
    margin-top: 40px;
}
.show-div1{
    width: 225px;
}
.news{
    background: url(../images/1b.png) repeat-y;
}
.news1{
    background: url(../images/1t.png) no-repeat;
    height: 1px;
    font-size: 1px;
}
.news h3{
    font-size: 14px;
    color: #000;
    font-family: 微软雅黑;
    text-align: center;
}
.news ul-1{
    padding-left: 3px;
    padding-right: 2px;
}
.ul-1 li{
    padding-left: 13px;
    line-height: 30px;
    border-bottom: #e7e7e7 1px solid;
    font-size: 12px;
}
.ul-1 li span{
    background-color: #6c6c6c;
    width: 65px;
    display: inline-block;
    line-height: 15px;
    height: 15px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    margin-right: 15px;
    border-radius: 2px;
}
.ul-1 li a{
    display: inline-block;
    text-decoration: none;
    color: #6c6c6c;
}
.ul-1 li a:hover{   
    color: red;
    cursor: pointer;
}
/*热买商品*/
.hottop{
    width: 223px;
    margin: 0 auto;
    margin-top: 30px;
}
.hottop dt{
    font-size: 14px;
    color: #000;
    font-family: 微软雅黑;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
.hottop dd{
    display: block;
}
.hottop dd .div1{
    background: url(../images/2t.png) no-repeat;
    line-height: 12px;
    height: 12px;
}
.hottop dd .hotu1{
    background: url(../images/2b.png) repeat-y;
}
.hottop dd .div2{
    background: url(../images/2bb.png) no-repeat;
    height: 8px;

}
.hotu1 li{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #e7e7e7;
}
.hotu1 img{
    border: #dfdfdf 1px solid;
    float: left;
    width: 54px;
    height: 54px;
    margin-left: 10px;
}
.hotu1 li div span{
    background: #ffb630;
    padding: 1px 3px;
    font-weight: bold;
    color: #000;
}
.hotu1 li div strong{
    color: #ed1d25;
}
.hotu1 li div {
    float: left;
    width: 128px;
    margin-left: 10px;
    display: inline;
    line-height: 20px;
}
.hotu1 div p a:hover{
    text-decoration: none;
    color: #ca3838;
    cursor: pointer;
}

/*预约商品*/
.show-divr{
    width: 740px;
}
.show-divr .bigt{
    width: 10px;
    height: 10px;
    background: #000;
    position: relative;
}
.show-divr .smallt{
    width: 5px;
    height: 5px;
    background: #ca3838;
    position: absolute;
    top: 0;
    left: 0;
}
.yuyuet a:hover{
  text-decoration: none;
  color: inherit;
}
.yuyuet .alter:hover{
    color: #ca3838;
} 
.yuyuet .word1{
   width: 200px;
   border-bottom: 1px solid #000;
}
.show-divr .list{
    margin-top: 3px;
}
.show-divr .list .lists{
    padding-bottom: 5px;
    margin-left: 15px;
    margin-top: 20px;
}
.show-divr .list li:nth-child(4n+1){
   margin-left: 0;
}
.show-divr .lists img{
    width: 166px;
    height: 166px;
    padding-bottom: 2px;
}
.show-divr .lists .center a:hover{
    text-decoration: none;
    color: #ca3838;
    cursor: pointer;
}